section.hero 
  .img__left
    .hero__image 
      img(src="assets/img/speakers.png", alt="Speakers")
  .image__right
    .hero__image 
      img(src="assets/img/office.png", alt="Office")
    .popupBtn 
      img(src="assets/img/popup-click.svg", alt="Popup button")
    include info-popup