.info-popup.hidden
  h6 Микшерный пульт Yamaha MG10
  ul 
    li Простой интерфейс.
    li Максимальная производительность.
    li 10 каналов.
    li 4 микрофонных / 10 линейных входов.
  .settings__img 
    img(src="assets/img/settings.svg", alt="Settings")
  button.closePopup
    img(src="assets/img/close.svg", class="closeMenu", alt="Close")
  .triangle