section.slider
  .swiper-container#sliderBig
    .swiper-wrapper 
      .swiper-slide.first
        .container
          .conferenceInfo
            span Оснащение конференц-залов
            h1 Видео конференции 
            p Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
            button(class="btn btn-white" data-callback) Обратный звонок
            button(class="btn btn-blue") Заполнить бриф
      .swiper-slide.second
        .container
          .conferenceInfo
            span Оснащение Оснащение Оснащение
            h1 Видео конферен2
            p 2Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
            button(class="btn btn-white" data-callback) Обратный звонок
            button(class="btn btn-blue") Заполнить бриф
      .swiper-slide.third
        .container
          .conferenceInfo
            span Оснащение конференц-залов3
            h1 Видео конферен3
            p 3Профессиональное оборудование для конференц-залов предназначено для проведения и организации презентаций, совещаний, бизнес-тренингов и онлайн-трансляции контента.
            button(class="btn btn-white" data-callback) Обратный звонок
            button(class="btn btn-blue") Заполнить бриф
    //- .swiper-button-prev
    //- .swiper-button-next
  .slider__con
    .swiper-container#sliderSmall
      .swiper-wrapper 
        .swiper-slide
          span.slideNumber 01
          p Простота использования оснащения позволяет решать функциональные и организационные задачи, оптимизировать работу, проводить мероприятия различного масштаба.
        .swiper-slide
          span.slideNumber 02
          p Применение инновационных решений для демонстрации культурных и исторических реликвий – актуальная тенденция, которая успешно применяется в музеях и на площадках альтернативного искусства. 
        .swiper-slide
          span.slideNumber 03
          p Простота использования оснащения позволяет решать функциональные и организационные задачи, оптимизировать работу, проводить мероприятия различного масштаба.
        .swiper-slide
          span.slideNumber 04
          p Простота использования оснащения позволяет решать функциональные и организационные задачи, оптимизировать работу, проводить мероприятия различного масштаба.
      //- .swiper-button-prev
      //- .swiper-button-next 
      .sliderBtns
        button(type="button").btn-prev-slide
          img(src="assets/img/arrow.svg", alt="arrow")
        button(type="button").btn-next-slide
          img(src="assets/img/arrow.svg", alt="arrow")