extends template

block content

    include components/hero-section
    //- include components/block
    //- include components/block
    //- include components/block
    include components/call-popup