@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: local("Roboto-Bold");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot");
  src: local("Roboto-Bold");
  src: url("../fonts/MontserratMedium/Montserrat-Medium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/MontserratMedium/Montserrat-Medium.woff") format("woff");
  src: url("../fonts/MontserratMedium/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  