@import "fonts";

a, form, button, input, textarea {
  &:active, &:focus {
    outline: none !important;
    box-shadow: none !important; 
  } 
}

button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

// body {
//   background: #edeff3;
//   // position: relative;
// }

.btn {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: .3s ease;
}

.btn-white {
  border: 1px solid #FFFFFF;
  background: transparent;
  &:hover {
    color: #397DFF;
    border-color: #ececec;
  }
}
.btn-blue {
  background: #397DFF;
  box-shadow: 0px 6px 24px rgba(85, 104, 255, 0.12);
  border: none;
  &:hover {
    background: #266df1;
  }
}
         

@import "components/header";
@import "components/hero-section";

@import "components/call-popup";
@import "components/info-popup";

@import "components/slider-section";
// @import components/footer

// @import components/content